<!-- Navigation -->
<div id="navigation" class="navbar navbar-fixed-top clearfix">
    <div class="navbar-inner ">
        <div class="container">
            <a href="#home" class="precio-logo">
                <img src="static/themes/vanlang/images/vanlang/vanlang_logo_4.png" alt="" />
            </a>
            <span class="text-logo">C&Ocirc;NG TY CỔ PHẦN C&Ocirc;NG NGHỆ VIỄN TH&Ocirc;NG VĂN LANG </span> 
            <a class="show-menu" data-toggle="collapse" data-target=".nav-collapse"></a>
            <span class="languages" style="float:right; margin-right: 15px;">
                <i class="fa fa-globe fa-lg fa-fw"></i>
                <a href="/" title="English">Việt Nam</a> 					
            </span>
        </div>
    </div>
    <div class="nav-collapse collapse clearfix">
        <ul class="nav">
            <li class="menu-2"><a class="colapse-menu1 home-menu" href="#home"><img src="static/themes/vanlang/images/vanlang/home_icon.png" /></a></li>
            <li class="menu-2"><a class="colapse-menu1" href="#vanlang-about">About us</a></li>
            <li class="menu-3"><a class="colapse-menu1" href="#productandservice">Products & Services</a></li>
            <li class="menu-4"><a class="colapse-menu1" href="#capacity-profile">Capacity Profile</a></li>
            <li class="menu-5"><a class="colapse-menu1" href="#recruitment">Recruitment</a></li>
            <li class="menu-6"><a class="colapse-menu1" href="#contact">Contact us</a></li>
        </ul>
    </div>
<div class="vl-headline">&nbsp;</div>
</div>
<!--/Navigation -->
<div class="wrraper-main">
    <!-- Home Section -->  
    <section id="home" class="parallax">
        <div class="wrapper-home">
            <ul class="bxslider top-slides">
                <li>
                    <a class="slideItem" href="#">
                        <div class="row-fluid">
                            <div class="span9">
                                <img src="static/themes/vanlang/images/vanlang/slides/top/1.jpg" alt="#" />
                            </div>
                            <div class="span3">
                                <div class="slide-description">
                                <p class="headline">Cao ốc Cao cấp Riviera Point 408.500 m2</p>
                                <p class="description">Đầu tư hạ tầng viễn thông IBS, Telldata Văn Lang</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="slideItem" href="#">
                        <div class="row-fluid">
                            <div class="span9"><img src="static/themes/vanlang/images/vanlang/slides/top/2.jpg" alt="#" /></div>
                            <div class="span3">
                                <div class="slide-description">
                                <p class="headline">Cao ốc Cao cấp Bellaza 1,610 căn hộ</p>
                                <p class="description">Đầu tư hạ tầng viễn thông Telldata Văn Lang</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="slideItem" href="#">
                        <div class="row-fluid">
                            <div class="span9"><img src="static/themes/vanlang/images/vanlang/slides/top/3.png" alt="#" /></div>
                            <div class="span3">
                                <div class="slide-description">
                                <p class="headline">Bệnh viện Phụ sản - Nhi Quốc Tế Hạnh Phúc</p>
                                <p class="description">Đầu tư hạ tầng viễn thông IBS Văn Lang</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="row-fluid">
                <div class="span6 news">
                    <div class="row-fluid">
                        <div class="span6">
                            <ul class="no-margin no-padding" style="display: block;">
                                <li class="news-item clearfix">
                                    <a class="news-title clearfix" href="#">Công trình đại học RMIT</a>
                                    <div class="content">
                                        <div class="local-news-image"><img alt="" src="static/themes/vanlang/images/vanlang/news/4.jpg" /></div>
                                        <div>
                                            <p class="subtext"><span class="news_date_icon"></span>01/02/2015</p>
                                            <div class="content-paragraph news-description">
                                                <p>Lần đầu ti&ecirc;n, một doanh nghiệp viễn th&ocirc;ng tại Campuchia tổ chức Hội nghị về Dịch vụ Gi&aacute; trị gia tăng (VAS) với sự tham gia của hơn 100 đối t&aacute;c quốc tế. Metfone l&agrave; nh&agrave; cung cấp dịch vụ VAS dẫn đầu tại thị trường Campuchia với 50 dịch vụ (gấp 3 lần doanh nghiệp liền kề).</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="news-item clearfix">
                                    <a class="news-title clearfix" href="#">Công trình bệnh viện quốc tế Hạnh Phúc</a>
                                    <div class="content">
                                        <div class="local-news-image"><img alt="" src="static/themes/vanlang/images/vanlang/news/1.jpg" /></div>
                                        <div>
                                            <p class="subtext"><span class="news_date_icon"></span>02/02/2015</p>
                                            <div class="content-paragraph news-description">
                                                <p>Lần đầu ti&ecirc;n, một doanh nghiệp viễn th&ocirc;ng tại Campuchia tổ chức Hội nghị về Dịch vụ Gi&aacute; trị gia tăng (VAS) với sự tham gia của hơn 100 đối t&aacute;c quốc tế. Metfone l&agrave; nh&agrave; cung cấp dịch vụ VAS dẫn đầu tại thị trường Campuchia với 50 dịch vụ (gấp 3 lần doanh nghiệp liền kề).</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="span6">
                            <ul class="no-margin no-padding" style="display: block;">
                                <li class="news-item clearfix">
                                    <a class="news-title clearfix" href="#">Hoàn thành công trình chung cư Phú Mỹ Thuận</a>
                                    <div class="content">
                                        <div class="local-news-image"><img alt="" src="static/themes/vanlang/images/vanlang/news/2.jpg" /></div>
                                        <div>
                                            <p class="subtext"><span class="news_date_icon"></span>07/02/2015</p>
                                            <div class="content-paragraph news-description">
                                                <p>Lần đầu ti&ecirc;n, một doanh nghiệp viễn th&ocirc;ng tại Campuchia tổ chức Hội nghị về Dịch vụ Gi&aacute; trị gia tăng (VAS) với sự tham gia của hơn 100 đối t&aacute;c quốc tế. Metfone l&agrave; nh&agrave; cung cấp dịch vụ VAS dẫn đầu tại thị trường Campuchia với 50 dịch vụ (gấp 3 lần doanh nghiệp liền kề).</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="news-item clearfix">
                                    <a class="news-title clearfix" href="#">Khởi công công trình tòa nhà Riviera</a>
                                    <div class="content">
                                        <div class="local-news-image"><img alt="" src="static/themes/vanlang/images/vanlang/news/3.jpg" /></div>
                                        <div>
                                            <p class="subtext"><span class="news_date_icon"></span>01/03/2015</p>
                                            <div class="content-paragraph news-description">
                                                <p>Hoàn thành nâng cấp và lắp đặt thêm hơn gần 3.000 trạm 3G, tăng cường hơn 3.500 cell tại các khu vực trung tâm, tập trung đông dân cư, nâng tổng số trạm 3G lên tới 30.000 trạm trên toàn quốc. Đối với mạng 2G, ngoài việc nâng cấp cấu hình cho gần 1.000 trạm, bổ sung hơn 3.700 cell, Văn Lang cũng chú trọng nâng cấp dung lượng cho gần 1.100 trạm để đảm bảo nhu cầu kết nối thông tin cho khách hàng ở vùng biên giới và biển đảo, nâng cấp và lắp đặt thêm hơn gần 3.000 trạm 3G</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="webpart simple-content building">
                        <p class="webpart-title">Công trình</p>
                        <ul class="bxsliderbuilding">
                            <li><a class="slideItem" href="#"><img src="static/themes/vanlang/images/vanlang/slides/building/1.jpg" alt="#" /></a></li>
                            <li><a class="slideItem" href="#"><img src="static/themes/vanlang/images/vanlang/slides/building/2.jpg" alt="#" /></a></li>
                            <li><a class="slideItem" href="#"><img src="static/themes/vanlang/images/vanlang/slides/building/3.jpg" alt="#" /></a></li>
                            <li><a class="slideItem" href="#"><img src="static/themes/vanlang/images/vanlang/slides/building/4.jpg" alt="#" /></a></li>
                        </ul>
                        <div class="content">
                            <ul class="news_right" style="">
                                <li><a href="#"><i class="fa fa-chevron-right"></i>Chung cư Phú Mỹ Thuận</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>Bệnh viện quốc tế Hạnh Phúc</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i></a>Đại học RMIT</li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>Cao ốc Riviera</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="webpart simple-content building">
                        <p class="webpart-title">Tin tức viễn thông</p>
                        <div class="content" style="min-height:200px;">
                            <ul class="news_right" style="">
                                <li>
                                    <a href="http://www.thongtincongnghe.com/article/46484" target="_blank"><i class="fa fa-chevron-right"></i>Sở TT&amp;TT Hà Nội ra quy trình xử lí tin nhắn rác</a>
                                </li>
                                <li>
                                    <a href="http://www.thongtincongnghe.com/article/46452" target="_blank">
					                                    <i class="fa fa-chevron-right"></i>Nhà mạng “than” khó chặn SMS rác ngoại mạng</a>
                                </li>
                                <li>
                                    <a href="http://www.thongtincongnghe.com/article/46440" target="_blank">
					                                    <i class="fa fa-chevron-right"></i>Vì sao DN truyền hình cáp “sợ” DN viễn thông?</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="webpart simple-content">
                        <p class="webpart-title">Đối tác</p>
                        <ul class="bxsliderpartners">
                            <li><a class="slideItem" href="#"><img src="static/themes/vanlang/images/vanlang/slides/partners/1.jpg" alt="#" /></a></li>
                            <li><a class="slideItem" href="#"><img src="static/themes/vanlang/images/vanlang/slides/partners/2.png" alt="#" /></a></li>
                            <li><a class="slideItem" href="#"><img src="static/themes/vanlang/images/vanlang/slides/partners/3.png" alt="#" /></a></li>
                            <li><a class="slideItem" href="#"><img src="static/themes/vanlang/images/vanlang/slides/partners/4.jpg" alt="#" /></a></li>
                            <li><a class="slideItem" href="#"><img src="static/themes/vanlang/images/vanlang/slides/partners/5.jpg" alt="#" /></a></li>
                        </ul>
                    </div>
                    <div class="webpart simple-content">
                        <p class="webpart-title">Hoạt động xã hội</p>
                        <ul class="bxslidersocial">
                            <li><a class="slideItem" href="#"><img src="static/themes/vanlang/images/vanlang/slides/social/1.jpg" alt="#" />                                 </a></li>
                            <li><a class="slideItem" href="#"><img src="static/themes/vanlang/images/vanlang/slides/social/2.jpg" alt="#" />                                 </a></li>
                            <li><a class="slideItem" href="#"><img src="static/themes/vanlang/images/vanlang/slides/social/3.jpg" alt="#" />                                 </a></li>
                        </ul>
                    </div>
                    <div class="webpart recruiment">
                        <p class="webpart-title">Tuyển dụng</p>
                        <div class="content" style="min-height:100px;">
                            <ul class="news_right">
                                <li><a href="#"><i class="fa fa-chevron-right"></i>Tuyển Kỹ sư công trình</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>Tuyển kế toán trưởng</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>Tuyển chăm sóc khách hàng</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>        
        
     <!-- End Home Section -->         
    <!-- about -->         
    <section id="vanlang-about" >              
        <!-- Container -->
        <div class="container"><!-- Section Title -->
            <div class="section-title">
                <h1>Giới thiệu về văn lang</h1>
                <span class="border"></span>
            </div>
            <!--/Section Title -->
            <div class="about-content">
                <p style="text-align:center;">
                    <img alt="" src="static/themes/vanlang/images/vanlang/structure.png" />
                </p>    
                <ul>
                    <li>Tên công ty: Công ty Cổ phần Công nghệ Viễn thông Văn Lang</li>
                    <li>Tên giao dịch tiếng Anh: Van Lang Telecommunications Technology Joint Company</li>
                    <li>Tên viết tắt: VANLANGtech</li>
                </ul>           
            </div>
        </div>
        <!--/Container -->         
    </section>         
    <!--/about -->        
    <!-- What we do -->         
    <section id="productandservice" >              <!-- Container -->
        <div class="container small-width"><!-- Section Title -->
            <div class="section-title">
                <h1>Sản phẩm v&agrave; dịch vụ</h1>
                <span class="border"></span>
            </div>
    <!--/Section Title -->
            <ul class="what-we-do-ul row-fluid">
                <li class="span3 element_from_left">
                <h4>Cổng thông tin</h4>
                </li>
                <li class="span3 element_from_left">
                <h4>Dịch vụ lưu trú ngắn ngày</h4>
                </li>
                <li class="span3 element_from_right">
                <h4>Cho thuê thiết bị</h4>
                </li>
                <li class="span3 element_from_right">
                <h4>Tư vấn kỹ thuật</h4>
                </li>
            </ul>
        </div>
        <!--/Container -->         
     </section>         <!--/What we do -->         
    <!-- Testimonials -->         
    <section id="capacity-profile" >              
    <!-- Container -->
        <div class="container"><!-- Section Title -->
            <div class="section-title">
                <h1>Hồ Sơ Năng Lực</h1>
                <span class="border"></span>
            </div>
            <!--/Section Title -->
            <div class="capacity-layout">
                <ul class="capacities">
                    <li class="clearfix">
                        <a class="left" href="#">                                 
                            <img src="static/themes/vanlang/images/vanlang/slides/building/1.jpg" alt="#" />                             
                        </a>
                        <p><a class="headline" href="#">Giới thiệu hồ sơ năng lực</a></p>
                        <p>Chuyên thực hiện đầu tư dự án viễn thông: Tăng sóng di động, hệ thống internet, điện thoại, truyền hình cáp ccho các khu dân cư và nhà cao tầng.</p>
                        <p>
                            <img src="static/themes/vanlang/images/pdf.png" class="doc-icon"><a href="static/themes/vanlang/files/hosonangluc.pdf">Tải file hồ sơ</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
<!--/Container -->          
    </section>         <!--/Testimonials -->         
    <!-- technology -->         
    <section id="recruitment">             
        <!-- Container -->
        <div class="container">
            <div class="section-title">
                <h1>Thông tin tuyển dụng</h1>
                <span class="border"></span>
            </div>
            <div class="technology-layout row-fluid">
                <div class="span6 element_from_left">
                    <img class="img-technology" src="static/themes/vanlang/images/vanlang/recruitment.jpg" alt="" />
                </div>
                <div class="span6 element_from_right">
                    <ul class="list-tech">
                        <li>
                            <h4>Tại Văn Lang, tất cả mọi người l&agrave;m cho một sự kh&aacute;c biệt v&agrave; g&oacute;p phần v&agrave;o sự th&agrave;nh c&ocirc;ng của ch&uacute;ng t&ocirc;i.</h4>
                        </li>
                        <li>
                            <ul class="lst-recruiment">
                                <li><a href="#"><i class="fa fa-chevron-right"></i>Tuyển Kỹ sư công trình</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>Tuyển kế toán trưởng</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>Tuyển chăm sóc khách hàng</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
<!--/Container -->         
    </section>         
    <!--/technology -->        
    <!-- Contact Section -->         
    <section id="contact">              <!-- Container -->
        <div class="container small-width"><!-- Section Title -->
        <div class="section-title">
        <h1>H&atilde;y li&ecirc;n hệ với ch&uacute;ng t&ocirc;i</h1>
        <span class="border"></span>
        </div>
        <!--/Section Title -->                 <!-- Contact Formular -->
        <div id="contact-formular" class="clearfix">
        <div id="message">&nbsp;</div>
        <form method="post" action="contact.php" name="contactform" id="contactform">
            <div class="row-fluid">
                <div class="element_from_left contact-detail span4">
                    <div>
                        <h3>Th&ocirc;ng tin li&ecirc;n hệ</h3>
                        <div class="wrapper-info">
                        <div class="wrapper-icon"><span class='icon-contact-manager sprites'></span></div>
                        <p class="info">B&ugrave;i Thị Như Oanh</p>
                        </div>
                        <div class="wrapper-info">
                            <div class="wrapper-icon" style="margin-top:3px;"><span class='icon-contact-phone sprites'></span></div>
                            <p class="info">+84 (08) 62 938 462</p>
                            </div>
                        <div class="wrapper-info">
                            <div class="wrapper-icon" style="margin-top:4px;"><span class='icon-contact-letter sprites'></span></div>
                            <p class="info">Email: <a href="mailto:hcns@vanlang.com">hcns@vanlang.com</a><br />
                            Skype: nhuoanh<br />
                            LinkedIn: <a href="https://uk.linkedin.com/in/suzycrook">vn.linkedin.com/in/nhuoanh</a></p>
                        </div>
                    </div>
                </div>
                <div class="element_from_right span8">
                    <div class="wrapper-info"><img src="static/themes/vanlang/images/vanlang/map.png" alt="" /></div>
                </div>
            </div>
        </form>
        </div>
        <!--/Contact Formular --></div>
<!--/Container -->         
    </section>         
    <!--/Contact Section -->         
    <!-- Footer -->         
    <footer>
        <div class="container no-padding footer-layout">
            <p style="margin-bottom:15px;"><img src="static/themes/vanlang/images/vanlang/vanlang_logo_4.png" alt="" /></p>
            <p class="copyright">Copyright &copy; C&ocirc;ng Ty Cổ Phần C&ocirc;ng Nghệ Viễn Th&ocirc;ng Văn Lang</p>
            <p class="copyright">Địa Chỉ: 71/22 Cộng H&ograve;a, Phường 4, Quận T&acirc;n B&igrave;nh, TP.Hồ Ch&iacute; Minh.</p>
        </div>
    </footer>         
    <!--/Footer -->
</div>