	@import url("navigation-style-1.css");
	@import url("colors/color-gray.css");
	
.sprites { background: url(../images/vanlang/sprites.png) no-repeat; }
.icon-conerstone { width: 50px; height: 50px; background-position: -98px 0; }
.icon-contact-address { width: 16px; height: 13px; background-position: -149px -92px; }
.icon-contact-letter { width: 16px; height: 11px; background-position: -161px -74px; }
.icon-contact-manager { width: 11px; height: 17px; background-position: -149px -74px; }
.icon-contact-phone { width: 14px; height: 14px; background-position: -137px -106px; }
.icon-design { width: 84px; height: 97px; background-position: -243px -98px; }
.icon-doc-management { width: 85px; height: 97px; background-position: 0 -95px; }
.icon-expert { width: 50px; height: 50px; background-position: -98px -51px; }
.icon-gold-partner { width: 50px; height: 50px; background-position: -86px -102px; }
.icon-grant-management { width: 97px; height: 94px; background-position: 0 0; }
.icon-integrate { width: 97px; height: 97px; background-position: -241px 0; }
.icon-key { width: 50px; height: 50px; background-position: 0 -193px; }
.icon-monitor { width: 91px; height: 97px; background-position: -149px -259px; }
.icon-offline { width: 97px; height: 97px; background-position: -51px -259px; }
.icon-organisation { width: 73px; height: 67px; background-position: -166px -86px; }
.icon-partner-tech { width: 50px; height: 50px; background-position: 0 -244px; }
.icon-precio-logo { width: 156px; height: 39px; background-position: -86px -154px; }
.icon-project-management { width: 91px; height: 73px; background-position: -149px 0; }
.icon-sector { width: 50px; height: 50px; background-position: 0 -295px; }
.icon-user-friendly { width: 97px; height: 97px; background-position: -241px -259px; }
.logo { width: 277px; height: 62px; background-position: -51px -196px; }
	
	html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,img,small,sub,b,dl,dd,dt,ul,li,label,article,details,footer,header,menu,nav,input,textarea,select{	
		background:transparent;
		border:0;
		outline:0;
		padding:0;
		margin:0;
	}
	
	
	html,body{
		font-family: arial, verdana, sans-serif;
		font-size:12px;
		height:100%;
		width:100%;
		color:#888888;
		background:#f8f8f8;
	}
	
	body{
		overflow-x:hidden
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
		font-family: arial, verdana, sans-serif;
		text-transform:uppercase;
		color:#222222;
	}	
	
	h1 {
		font-size:36px;
		letter-spacing:3px;
		color:#222222;
		text-transform:uppercase;
		margin-bottom: 15px;
	}
	
	h4 {
		font-size: 14px;
	}
	
	h3{
		font-size: 16px;
	}
	
	h2{
		font-size: 18px;
		margin-bottom:20px;
	}
	
	p {
		font-size:13px;
	}
	
	b {
		color:#222;
	}

    .left{
        float:left;
    }

    .headline{
      color: #4d4f53;
      font-size: 14px;
      font-weight: bold;
    }
	
	.container {
		margin:0 auto;
		width:inherit;
	}
	
	.no-padding {
		padding:0!important;
	}
	
	a:hover, a:active, a:focus {
	  outline: 0;
	}
	
	a {
        text-decoration: none;
        -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
           -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
            -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
             -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
                transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
    }
	
	li {
		list-style:none;
	}
	
	a {
		outline: 0;
	}
	
	a:hover {
		text-decoration:none;
	}

	.left {
		float: left;
	}
	
	.right {
		float: right;
	}	
	
	.one_half {
    	width: 48%;
	}	

	.one_third {
		width: 30.6%;
	}	

	.one_fourth {
		width: 22%;
	}	

	.one_fifth {
		width: 16.8%;
	}	

	.one_sixth {
		width: 13.33%;
	}	

	.two_fifth {
		width: 37.6%;
	}	

	.two_fourth {
		width: 48%;
	}		

	.two_third {
		width: 65.33%;
	}	

	.three_fifth {
		width: 58.4%;
	}	

	.three_fourth {
		width: 74%;
	}	

	.four_fifth {
		width: 79.2%;
	}	

	.five_sixth {
		width: 82.67%;
	}	

	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .two_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
		float: left;
		margin-bottom: 20px;
		margin-right: 4%;
		position: relative;
	}	

	.last {
		margin-right:0px!important;
	}
	
	.section-title {
		text-align:center;
		width:750px;
		margin:60px auto 40px auto;
	}
    
    .section-title p {
     font-size:15px
    }
	
	.border {
		background: none repeat scroll 0 0 #f707db;
		display: block;
		height: 5px;
		margin: 0 auto;
		width: 140px;
		margin-bottom:40px;
	}
	
	.element_from_top {
		top: -50px;
		padding-right: 0px;
		opacity: 0;
		position: relative;
	}
	
	.element_from_bottom {
		bottom: -50px;
		padding-left: 0px;
		opacity: 0;
		position: relative;
	}
	
	.element_from_left {
		left: -80px;
		padding-right: 0px;
		opacity: 0;
		position: relative;
	}
	
	.element_from_right {
		right: -80px;
		padding-left: 0px;
		opacity: 0;
		position: relative;
	}
	
	.element_fade_in {
		opacity: 0;
		position: relative;
		padding-left: 0px;
		right: 0px;
		
	}
	
	.mask {
		background-color:#FFF;
		width:100%;
		height:100%;
		position:fixed;
		z-index:100000;
	}
	
	#loader {
		background:url(../images/ajax-loader.gif) center center no-repeat;
		height: 50px;
		width: 50px;
		left: 50%;
		top: 50%;
		position: absolute;
		margin: -25px 0 0 -25px;
	}

	span.sprites
	{
		display:block;
	}
	
	
/* Shortcodes */

	

	.title-divider {
		border-bottom:#e9e9e9 1px solid;
		width:100%;
		text-align:center;
		text-transform:uppercase;
		color:#222222;
		padding-bottom:5px;
		padding-top:80px;
		margin-bottom:50px;
		float:left;
	}
	
	
	



/* Pricing Tables */	
	
	
	.pricing-tables {
		float:left;
		width:inherit;
		display:block;
		text-align:center;
	}

	.price-table {
		border: 1px solid rgba(0, 0, 0, 0);
		padding: 25px 0px 25px 0px;
		text-align: center;
		transition: all 0.5s ease 0s;
		width:22%;
		display:inline-block;
		border: 1px solid #E8E8E8;
		background-color:#FFF;
		z-index:1;
		margin-left:-2px;
		margin-right:-2px;
		position:relative;
		margin-top:20px;
		margin-bottom:20px;
	}
	
	.price-table:hover {
		border: 1px solid #E8E8E8;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
		z-index:100!important;
		padding: 45px 0px 45px 0px;
		margin-top:0px;
		margin-bottom:0px;
		
	}
	
	.price-table.featured {
		border: 1px solid #E8E8E8;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
		z-index:100!important;
		padding: 45px 0px 45px 0px;
		margin-top:0px;
		margin-bottom:0px;
		
	}
	
	.price-table i {
		background-color: #FCFCFC;
		border: 2px solid #DDDDDD;
		border-radius: 100px;
		box-shadow: 0 0 0 5px #F4F4F4;
		display: inline-block;
		font-size: 20px;
		width:20px;
		height:20px;
		margin-bottom: 35px;
		overflow: hidden;
		padding: 25px;
		transition: all 0.2s ease 0s;
	}
	
	.price-table:hover i {
		box-shadow: 0 0 0 5px #FFFFFF inset;
		color: #FFFFFF;
	}
	
	.price-table ul {
		margin-bottom: 0;
	}
	
	.price-table li {
		border-bottom: 1px dotted #E6E6E6;
		font-size: 12px;
		padding: 8px 15px;
		margin:0px 10px;
	}
	
	.price-table li.pricetable-price {
		background-color: #F7F7F7;
		border-top: 1px dotted #E6E6E6;
		margin:0px;
	}
	
	.price-table li a {
		margin-top:20px;
	}
	
	.price-table li:first-child {
		padding-top: 0;
		border-bottom: medium none;
	}
	
	.price-table li:last-child {
		border-bottom: medium none;
	}
	
	.price-table ul h3 {
		font-size: 20px;
		line-height: 16px;
		margin-bottom: 7px;
	}
	
	.price-table li.pricetable-price h3{
		font-size: 14px;
	}

	
	
	
	
	

	
/* Recent Posts */

	.recent-post {
		width:100%;
		height:50px;
		float:left;
		margin-bottom:20px;
		transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
    	-webkit-transition:all 0.3s ease 0s;
    	-o-transition:all 0.3s ease 0s;
		background-color:#FFF;
		border-radius:3px;
	}
	
	.recent-post:hover {
		background-color:#FFF;
		box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	}
	
	.recent-post .recent-post-date {
		line-height:50px;
		float:left;
		margin-right:20px;
		margin-left:20px;
		font-size:12px;
	}
	
	.recent-post .blog-type {
		float:left;
		border-radius:0px;
		margin-right:20px;
		background-color:#999;
		transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
    	-webkit-transition:all 0.3s ease 0s;
    	-o-transition:all 0.3s ease 0s;
	}
	
	.recent-post:hover .blog-type {
		background-color:#222;
	}
	
	.recent-post h5 {
		line-height:50px;
		float:left;
	}
	
	.recent-post h5 a {
		color:#999;
	}
	
	.recent-post h5 a:hover {
		color:#222;
	}
	
	.recent-post .blog-meta {
		float:right;
		line-height:50px;
		margin-right:20px;
	}






/* Accordion */

	.accordion {
		float:left;
		width:inherit;
	}
	
	.accordion dt {
		cursor: pointer;
		border-radius: 3px 3px 3px 3px;
		margin-bottom: 10px;
		padding-top: 10px;
		border-top:#e9e9e9 1px solid;
		transition:all 0.4s ease 0s;
		-moz-transition:all 0.4s ease 0s;
    	-webkit-transition:all 0.4s ease 0s;
    	-o-transition:all 0.4s ease 0s;
	}
	
	.accordion dt:first-child {
		border-top:none;
		padding-top: 0px;
	}
	
	.accordion .accordion-active {
		color:#222222;
	}
		
	.accordion dt span {
		font-size: 14px;
		line-height:24px;
	}
	
	.accordion dt span.accordion-status {
		height:20px;
		width:20px;
		padding:2px;
		background:url(images/plus.png) #999999 2px 2px no-repeat;
		background-size:20px 20px;
		float:left;
		margin-right:10px;
		border-radius: 2px;
	}
	
	.accordion dt.accordion-active span.accordion-status {
		background:url(images/minus.png) 2px 2px no-repeat;
		background-color:#222222;
		background-size:20px 20px;
	}
	
	.accordion-content {
		padding-bottom: 15px;
		padding-top: 5px;
		font-size: 13px;		
	}
	
/* Toggle */
	
	.toggle-wrap {
		float:left;
		width:100%;
	}

	.toggle-title {
		background: #e5e5e5;
		cursor: pointer;
		padding: 10px;
		border-radius: 3px;
		margin-bottom: 5px;
		display: block;
		font-size:13px;
	}
	
	.toggle-title a {
		color: #666;
		text-decoration: none;
	}
	
	.toggle-title a:hover {
		color:#222222;
	}
		
	.toggle_container {
		padding-bottom: 10px;
		padding-top: 5px;
		padding-left: 10px;
		padding-right: 10px;
		font-size:13px;
	}
	
	.toggle-active {
		color:#fff;
		background: #222222;
	}
	
	.toggle-active a {
		color:#FFF;
	}
	
	.toggle-active a:hover {
		color:#FFF;
	}
	
/*  Tabs  */
	
	.tab-shortcode {
		float:left;
		width:100%;
	}
		
	ul.tabs { 
		overflow: hidden; 
		margin: 0px; 
	}
	
	ul.tabs li { 
		float: left; 
		margin: 0px; 
		list-style: none; 
	}
			
	ul.tabs li a {
		display: block;
		background-color: #e5e5e5;
		padding: 6px 20px;
		margin-right: 5px;
		border-radius: 2px 2px 0px 0px;
		color: #666;
		text-decoration: none;
		font-size:13px;
	}
			
	ul.tabs .tab-active a { 
		color: #fff; 
	}
			
	.tab_container {
		clear: both;
		padding: 20px 25px;
		margin-top:0px;
		background:#FFF;
		font-size:13px;
	}
	
	
/*  Dropcaps  */
	
	.dropcap-normal {
		font-family: 'Arial', sans-serif;
		float: left;
		font-size: 70px;
		font-weight: bold;
		line-height: 60px;
		margin: 0 8px 0 0;
	}
	
	.dropcap.dark {
		color: #FFFFFF;
	}
	
	.dropcap.round {
		border-radius: 3px;
	}
	
	.dropcap.square {
		border-radius: 50px;
	}
	
	.dropcap {
		font-family: 'Arial', sans-serif;
		display: block;
		float: left;
		font-size: 36px;
		margin: 6px 8px 0 0;
		text-align: center;
		text-transform: uppercase;
		line-height:50px;
		width:50px;
		height:50px;
	}
	
/*  Counters  */
	
	.counters {
		margin-top: 40px;
	}
	
	.counters ul {
		text-align:center;
	}
	
	.counters i {
		display: block;
		font-size: 50px;
		margin-bottom: 20px;
		position: relative;
	}
	
	.counters li {
		background:#FFF;
		color: #222222;
		font-family: 'Arial', sans-serif;
		font-size: 18px;
		padding: 25px 0;
		text-align: center;
		text-transform: uppercase;
		border-radius:3px		
	}
	
	.counters li span {
		font-family: 'Arial', sans-serif;
	}
	
	.counters li.last {
		border-right: 0 none;
	}
	
	
/*  List Styles  */
	
	
	.icons-ul li {
		color:#999999;
		margin-bottom:10px;
		font-size:14px;
	}
	
	.icons-ul li i{
		margin-right:7px;
	}
	
	.fa-ul {
		font-size:14px;
	}
	
	.fa-ul li {
		margin-bottom:10px;
	}
	
	
/*  Alert Boxes  */
	
	.alertboxes {
		float:left;
		width:100%;
	}
	
	.shortcode_alertbox {
		border-radius: 3px;
		color: #FFFFFF;
		display: block;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 20px;
		padding: 15px 40px 15px 14px;
		position: relative;
	}
	
	.shortcode_alertbox .box_close {
		background: url("images/close_box.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		background-position:10px 10px;
		background-size:20px 20px;
		display: block;
		height: 40px;
		position: absolute;
		right: 5px;
		top: 5px;
		width: 40px;
		cursor:pointer;
	}
	
	.shortcode_alertbox b {
		color:inherit;
	}
	
	.shortcode_alertbox.box_red {
		background: none repeat scroll 0 0 #F9E5E6;
		border: 1px solid #F7C7C9;
		color:#B3696C;
	}
	.shortcode_alertbox.box_blue {
		background: none repeat scroll 0 0 #D8ECF5;
		border: 1px solid #9AC9DF;
		color: #528DA9;
	}
	.shortcode_alertbox.box_yellow {
		background: none repeat scroll 0 0 #FCF7D9;
    	border: 1px solid #F5DC7D;
    	color: #C4A21B;
	}
	.shortcode_alertbox.box_green {
		background: none repeat scroll 0 0 #E3EBC6;
		border: 1px solid #C2D288;
		color: #8FA442;
	}
	
	
	
/*  Buttons  */
	
	
	
	a.newave-button {
		border-radius:3px;	
		font-family: 'Arial', sans-serif;
		letter-spacing:0;
		text-transform:uppercase;
		display:inline-block;	
	}
	
	.small {
		font-size:12px;
		line-height:14px;
		padding:5px 9px 7px 9px;
		line-height:12px;
	}
	
	.medium {
		font-size:14px;
		line-height:14px;
		padding:10px 15px;
		line-height:14px;
	}
	
	.large {
		font-size:16px;
		line-height:14px;
		padding:15px 25px;
		line-height:16px
	}
	
	.grey {
		color:#FFF;
	}		
	
	.grey:hover {
		color:#FFF;
	}
	
	.color {
		color:#fff;
	}
	
	.color:hover {
		color:#fff;
	}
	
	.outline {
		background-color:none;
		border:2px solid #222222;
		color:#222222;
		line-height:10px!important;
	}		
	
	.outline:hover {
		background-color:#222222;
		color:#FFF;
	}
	
	.outline.white {
		background-color:none;
		border:2px solid #fff;
		color:#fff;
	}		
	
	.outline.white:hover {
		background-color:#fff;
		color:#222;
	}
	
	.rounded {
		border-radius:50px!important;
	}
	
	
	
/*  Font Awesome  */
	
	
	
	.the-icons li {
		font-size:14px;
		height: 40px;
		text-transform: capitalize;
	}
	
	.the-icons li i {
		font-size: 18px;
		margin-right: 10px;
		vertical-align: -2px;
		width: 35px;
	}
	
	



	
	


/* Section pages styles */
.languages:hover
{
	color: #f707db;
}

img.doc-icon {
    height: 16px;
    width: 16px;
}

	section {
		position: relative;
		z-index: 1;
        padding:20px;
	}
	
	#home {
		position: relative;
	}
	
	#not-found {
		height: 100%;
		position: relative;
		width: 100%;
	}
	
	.wrapper-home.parallax-slider {
		height:auto;
	}
	
	#we-are-good-at {
		background-color:#FFF;
	}
	
	#services {
		background-color:#FFF;
	}
	
	#we-love-technology {
		background-color:#FFF;
	}
	
	#portfolio {
		background-color:#FFF;
	}
	
	.footer-logo
	{
		background-image:url(../images/vanlang/vanlang_logo_4.png);
		width:200px;
		height:75px;
		display:block;
		margin:auto;
	}
	
	footer {
		background-color: #fff;
		min-height: 200px;
	}
	
	#blog {
		background-color:#fff;
	}
	
	
	
	
	
	
	


/* Parallax Styles */

	.parallax {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.parallax-overlay {
		background-color:rgba(0,0,0,0.80);
	}
	
	
	
	
	
	
	
	
/* Home Pattern And Image Parallax */	
	

	.home-pattern {
		background:url(images/home_pattern.png) repeat;
		width:100%;
		height:100%;
	}
	
	.pattern {
		background:url(images/pattern.png) repeat;
		width:100%;
		height:100%;
	}
		
	#home-center {
		height: 100%;  
		display: table;
		position: absolute;
		top: 0;
		left:0;
		right:0;
		width:90%;
		margin-left:5%;
		margin-right:5%;
	}	
	
	.div-align-center {
		/*
		display: table-cell;
		text-align:center;
		*/
		vertical-align: middle;
		margin:auto;
	}
	
	.ultralarge {
		color:#fff;
		text-align:center;
		font-family: 'Arial', sans-serif;
		font-size:100px;
		line-height:80px;
		letter-spacing:0;
	}
	
	.four-zero-four {
		color:#fff;
		text-align:center;
		font-family: 'Arial', sans-serif;
		font-size:180px;
		line-height:180px;
		letter-spacing:0;
	}
	
	.below-four-zero-four {
		margin-bottom:40px!important;
	}
	
	.text-slide-vertical {
		color:#fff;
		font-family: 'Arial', sans-serif;
		font-size:70px;
		text-transform:uppercase;
		width:100px!important;
		position:relative!important;
		
	}
	
	.text-slide-vertical li {
		line-height:100px;
	}
	
	.bullet {
		margin: 0 10px;
		opacity: 0.9;
		color:#fff;
	}
	
	.div-align-center p{
		margin-bottom:20px;
	}
	
	p.after-slider {
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size:30px;
		font-style:italic;
		text-align:center;
		padding-top:20px;
		margin-bottom:40px;
	}
	
	
	






/* Home Fullwidth Parallax Slider */


	ul.fullwidth-slider {
		position: relative;
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		background-color: #222222;
		z-index: 0;
		-webkit-backface-visibility: visible;
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	ul.fullwidth-slider li.slide {
		position: relative;
		display: none;
		overflow: hidden;
		float: left;
		width: 100%;
		height: 100%;
		z-index: 0;
		background-attachment:absolute ;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-backface-visibility: visible;
	}
	
	ul.fullwidth-slider li.slide .caption {
		position: relative;
		height: 100%;
		width:100%;
	}
	
	ul.fullwidth-slider li.slide .caption .caption-inside {
		position: absolute;
		top: 0px;
		width:100%;  
	}
	
	ul.fullwidth-slider li.slide .caption .slide-caption {
		height: 100%;  
		z-index: 0;
		display: table;
		position: relative;
		top: 0;
		width:80%;
		margin-left:10%;
	  	margin-right:10%;  
	}
	
	ul.fullwidth-slider li.slide .caption .slide-caption .vertical-align-middle{
	  	display: table-cell;
	  	vertical-align: middle;
	  	text-align:center;
	}
	
	.vertical-align-middle p {
		margin:20px 0;
		color:#fff;
	}
	
	.vertical-align-middle.dark p, .vertical-align-middle.dark h1 {
		color:#222;
	}

	ul.fullwidth-slider, ul.fullwidth-slider .caption-inside {
		height: 700px;
	}
	
	.parallax-slider .bx-wrapper .bx-next {
		right:50px;
	}
	
	.parallax-slider .bx-wrapper .bx-prev {
		left:50px;
	}





/* Home Full Screen Slider */

	#fullscreen-slider {
		display:none;/* Only use this if you fade it in again after the images load */
	}
	
	#cycle-loader {
		height:32px;
		left:50%;
		margin:-8px 0 0 -8px;
		position:absolute;
		top:50%;
		width:32px;
		z-index:999;
	}
	
	#slider_left {
		top:50%;
		height:60px;
		position:absolute;
		left:50px;
		width:32px;
		z-index:1000;
		margin-top:-30px;
		cursor:pointer;
	}
	
	#slider_right {
		top:50%;
		height:60px;
		position:absolute;
		right:50px;
		width:32px;
		z-index:1000;
		margin-top:-30px;
		cursor:pointer;
	}
	
	#slider_left:hover, #slider_right:hover {
		margin-top:-28px;
	}
	#slider_left:active, #slider_right:active {
		margin-top:-28px;
	}
	
	.slide-content {
		height: 100%;  
		display: table;
		position: absolute;
		top: 0;
		left:0;
		right:0;
		width:80%;
		margin-left:10%;
		margin-right:10%;
	}
	
	.light {
		color:#fff!important;
	}
	
	.dark {
		color:#222222;
	}
	
	.slide-content h1 {
		color:inherit;
		font-size:100px;
		line-height:100px;
		margin:10px 0;
		letter-spacing:1px;
	}
	
	.georgia {	
		font-family: Georgia,"Times New Roman",Times,serif;
		font-size: 30px;
		line-height:30px;
		font-style: italic;
		padding:10px 0;
	}
	
	.slide-content p {
		margin:10px 0;
	}
	
	.slide-content a {
		margin:10px 0;
	}
	
	
	
/* Home Full Screen Video */	
	

	
	.video-section {
		background-image: url('images/video-placeholder.jpg');
	}
	
	#video-volume {
		bottom: 30px;
		color: #FFFFFF;
		cursor: pointer;
		font-size: 24px;
		margin-left: -10px;
		left:50%;
		position: absolute;
		width: 20px;
		z-index:10;
	}
	
	
	
	
	


/* We are Newave */
	
	.screens {
		position:relative;
	}
	
	.big-screen {
		width:620px;
		height:auto;
		margin:0 auto;
		z-index:100;
	}
	
	.small-screen-left {
		width:350px;
		height:auto;
		position:absolute;
		left:0;
		top:120px;
		z-index:0;
	}
	
	.small-screen-right {
		width:350px;
		height:auto;
		position:absolute;
		right:0;
		top:120px;
		z-index:0;
	}
	





/* Contact Formular */
	
	#contact-formular {
		text-align:center!important;
	}
	
	#contact-formular input, textarea {
		color: #999999;
		font-family: 'Arial', sans-serif;
		font-size: 14px;
		height: 20px;
		padding:15px 3%;
		width: 94%;
		background:none ;
		margin-bottom:10px;
		border: 1px solid #6c777c;
		border-radius: inherit;
		transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}
	
	#contact-formular input[type=text]:focus, #contact-formular textarea:focus, input[type=email]:focus {
		background-color: #e1e1e1;
	}
	
	#contact-formular textarea {
		height:100px;
		resize:none;
		border: 1px solid #6c777c;
		border-radius: inherit;
		box-shadow: inherit;
		background:none;
		text-transform:none;
	}
	
	#contact-formular input[type="submit"]	{
		color:#fff;
		background-color: #8da82c;
		font-family: 'Arial', sans-serif;
		font-size: 14px;
		text-transform:uppercase;
		padding:15px;
		letter-spacing:0;
		line-height:4px;
		cursor:pointer;
		border-radius:3px;
		border:none;
		transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
    	-webkit-transition:all 0.3s ease 0s;
    	-o-transition:all 0.3s ease 0s;
		text-align:center;
		text-transform:uppercase;
		width:100%;
	}	
	
	.error_message {		
		text-align:center;		
		margin-bottom:30px;
		font-size:13px;		
		color:#e93735;		
		font-weight:bold;		
	}
	
	#success_page {		
		text-align:center;		
	}	
	
	#success_page p {		
		color:#888888;		
		margin-top:20px;		
	}
	
	#message fieldset {		
		border:none;		
	}

	#map_canvas {
		width:100%;
		height:400px;
		z-index:0;
		position:relative;	
	}
	
/* Footer */			
	
	
	footer {
		box-shadow: 0px -1px 5px rgba(0,0,0,0.15);
		z-index:100;
		position:relative;
		padding:40px 10px 40px 10px;
		text-align:center;
	}
	
	footer ul.socials-icons {
		margin:10px 0 20px 0;
	}
	
	footer ul.socials-icons li {
		margin:0 10px;
	}
	
	#menu_top {
		height:50px;
		width:40px;
		border-radius:3px;
		left:50%;
		margin-left:-20px;
		margin-top:-65px;
		position:absolute;
		cursor:pointer;
	}
	
	#menu_top_inside {
		background-image:url(images/menu_bottom_top_bg.png);
		background-size:18px 11px;
		background-position: 0 0;
		height: 22px;
		left: 11px;
		position: absolute;
		top: 14px;
		transition: background-position 0.3s linear 0s;
		width: 18px;
	}
	
	#menu_top:hover #menu_top_inside {
		-webkit-animation: bottom_top_over .3s linear infinite;
		-moz-animation: bottom_top_over .3s linear infinite;
		-o-animation: bottom_top_over .3s linear infinite;
		animation: bottom_top_over .3s linear infinite;
	}

	@-webkit-keyframes bottom_top_over { 0% { background-position: 0px 0px; }  100% { background-position: 0px -11px; } }
	@-moz-keyframes bottom_top_over { 0% { background-position: 0px 0px; }  100% { background-position: 0px -11px; } }
	@keyframes bottom_top_over { 0% { background-position: 0px 0px; }  100% { background-position: 0px -11px; } }

	
	
	
	
	
	
	
	
/* Sidebar */	
	
	#sidebar {
		width:250px;
		min-height:500px;
		float:left;
	}
	
	.widget {
		margin-bottom:60px;
		font-size:14px;		
	}	

	.heading h5 {
		margin-bottom:20px;
		text-transform:uppercase;
		color: #222222;
	}	

	input#search {
		background:url("images/zoom-search.png") no-repeat 10px 10px #f5f5f5;
		background-size:30px 30px;
		color: #999999;
		font-family: 'Arial', sans-serif;
		font-size: 14px;
		text-transform:uppercase;
		height: 20px;
		padding: 15px;
		padding-left:45px;
		width: 190px;
		border-radius:3px;
		border:0;
		box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
		-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
		-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
		-o-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
		transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}
	
	input#search:focus {
		background:url("images/zoom-search.png") no-repeat 10px 10px #e1e1e1;
		background-size:30px 30px;
	}	

	#sidebar .widget_categories li {
		background: url("images/arrow-li.png") no-repeat scroll 0 22px transparent;
		background-size:5px 8px;
		border-bottom: 1px solid #dfdfdf;
		display: block;
		padding: 15px;
	}	

	#sidebar .widget_categories li:first-child {
		border-top: 1px solid #dfdfdf;
	}	

	#sidebar .widget_categories li a {
		color: #222222;
	}	

	#sidebar .widget_categories li a:hover {
	}	

	#sidebar .recent-posts li {
		border-top: 1px solid #dfdfdf;
		padding-top:12px;
	}	

	#sidebar .recent-posts p {
		padding-bottom:12px;
		font-size:12px;
	}	

	#sidebar .recent-posts {
		border-bottom: 1px solid #dfdfdf;
	}	

	#sidebar .recent-posts li a {
		color: #222222;
	}	

	#sidebar .recent-posts li a:hover {
	}	

	#sidebar .tags a {
		border-radius: 2px 2px 2px 2px;
		background-color:#222222;
		color: #FFFFFF !important;
		cursor: pointer;
		display: inline-block;
		float: left;
		font-size: 12px;
		margin: 5px 5px 0 0;
		padding: 7px 10px;
		position: relative;
		text-transform: capitalize;
	}	

	#sidebar .tags a:hover {
	}	

	#sidebar .widget_archives li {
		background: url("images/arrow-li.png") no-repeat scroll 0 22px transparent;
		background-size:5px 8px;
		border-bottom: 1px solid #dfdfdf;
		display: block;
		padding: 15px;
	}	

	#sidebar .widget_archives li:first-child {
		border-top: 1px solid #dfdfdf;
	}	

	#sidebar .widget_archives li a {
		color: #222222;
	}	

	#sidebar .widget_archives li a:hover {
	}
	
	
	

.mc-image
{
	background-position:50% 0;
}

/* Posts Navigation */				
	
	.inner-navigation {
		margin-bottom:50px;
		margin-top:50px;
	}
	
	.inner-navigation.masonry {
		margin-left:50px;
		margin-right:50px;
		margin-bottom:50px;
		margin-top:50px;
	}
	
	.inner-navigation li a span {
		display:inline-block;
		margin-right:10px;
		width:30px;
		height:30px;
		border-radius:3px;
		transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		float:left;		
	}
	
	.inner-navigation li {
		display:inline-block;
		width:110px;
		line-height:27px;		
	}
	
	
	.inner-navigation li:last-child a span {
		float:right;
		margin-left:10px;
		margin-right:0px;		
	}
	
	.inner-navigation li:last-child {
		float:right;		
	}
	
	.inner-navigation li a:hover span {
		color:#999;
	}
	
	.inner-navigation li a:hover {
		color:#999999;
	}
	
/* home section */
.wrapper-home .div-align-center
{
	margin: 0 5%;
}

.top-image-text-layout
{
	background-color:#727679;
	opacity: 0.9;
	float:right !important;
	max-width: 520px !important;
}

.top-image-text-layout > div
{
	margin: 60px 20px;
	border-top: 4px solid #fff;
	border-bottom: 4px solid #fff;
	padding:15px 0;
}

.top-image-text-layout p
{
	color: #fff;
	text-transform: uppercasexx;
	font-family:museoSlab, sans-serif;
	font-weight: bold;
	font-size: 32px;
	text-align: left;	
	margin:0;
	line-height: 35px;
}

	
/* about section */
.about-ngo-section  ul 
{
	margin-left: 22px;
}

.about-ngo-section  li 
{
	margin-bottom: 25px;
}

.about-ngo-section  li:last-child
{
	margin-bottom: 0;
}

.about-ngo-section > li .span3{
    display: inline-block;
    float: left;
    margin-left: 25px;
}

.about-ngo-section > li.span3:first-child
{
	margin-left:0;
}

.about-ngo-section  .sprites
{
	margin:0 auto;
}

.feature-wrapper-icon
{
	margin-bottom:20px;
	height:100px;
}

.about-ngo-section h4
{
	margin-bottom:10px;
}

.video-layout
{
	margin-bottom: 30px;
}

#features
{
	padding-top: 40px;
}

div.section-end
{
	margin-top:60px;
	background-color:#8da82c;
	padding: 40px 10px 40px 10px;
}

div.section-end p
{
	color:#fff;
	font-size:20px;
	text-align:center;
	text-transform:uppercase;
	margin: auto auto 10px;
    max-width: 1160px;
}

/* what we do */

.what-we-do-ul li
{
	padding:15px;
	border: 3px solid #f707db;
	text-align:center;
	margin-bottom: 10px;
    background-color:#fff;
}

.what-we-do-description
{
	margin-top:60px;
}

.what-we-do-description p
{
	margin-bottom:25px;
	text-align:center;
}

.what-we-do-description h2
{
	text-align: center;
	margin-bottom:10px;
}

/* testimonials */
#testimonials
{
	background-color:#fff;
}

.clients 
{
	width:100%;
}

.clients li
{
	margin-bottom:50px;
}

.client-description h4
{
	border-bottom: 2px solid #e6ebed;
	margin-bottom:10px;
}

.client-icon
{
	height:100px;
	width:100px;
	background-color:#cccccc;
	border-radius: 100%;
	float:left;
	margin-right:25px;
}

.wrapper-client-icon
{
	float: left; 
	background-color: #fff;
}

/* technology */

.list-tech
{
	margin-top:0px;
}

.list-tech li
{
	margin-bottom:20px;
}

.list-tech li:last-child
{
	margin-bottom:0;
}

/* contact */
#contact
{
	background-color: #e7e7e7;
	padding-bottom:100px;
}

.contact-detail .wrapper-info
{
	margin-top:10px;
}

.contact-detail .info
{
	display:table-cell;
}

.contact-detail p, .contact-detail h3, .contact-detail h4
{
	text-align:left;
}

.contact-detail h3
{
	margin-bottom:15px;
}

.contact-detail h4
{
	text-transform:none;
}

.contact-detail .wrapper-icon
{
	width:30px;
	float:left;
}

#contact-formular textarea
{
	width:94%;
	padding: 15px 3%;
} 

/* partner */

#partners
{
	background-image: url('../images/precio/image-partner-bg.png');
	padding-bottom:100px;	
}

#partners .section-title h1, #partners .section-title p
{
	color:#fff;
}

#partners .title
{
	margin:20px 10px 0 0;
	text-transform: uppercase;
	font-size:16px;
}
.partner-left , 
.partner-right
{
	margin:20px 10px 20px 10px;
}

.partner-left span, .partner-left p,
.partner-right span, .partner-right p
{
	color:#fff;
	font-size:14px;
}

.partner-left p
{
	text-align:right;
}
.partner-right p
{
	text-align:left;
}

.partner-left span
{
	float:right;
}

.partner-right span
{
	float:left;

}

.partner-right .sprites
{
	margin-right:10px;
}

.partner-left li,
.partner-right li
{
	margin-bottom:20px;
}

.partner-left li p:first-child,
.partner-right li p:first-child
{
	margin-bottom:10px;
}

/* footer */

.footer-logo
{
	margin-bottom:15px;
}

.footer-logo .sprites
{
	margin: auto;
}

.footer-layout p
{
	text-align:center;
}

/* Responsive Media Querries */		

.nav-collapse
{
	margin:auto;
}

.vl-headline {
    background: none repeat scroll 0 0 #7cc245;
	height:30px;
	width:100%;
}


.bx-wrapper img {
    width:100%;
}

.slide-description .headline {
    font-size:24px;
    margin:40px 0 20px 0;
    line-height:32px;
}

.slide-description .description {
    font-size:20px;
    text-align:left;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: none repeat scroll 0 0 #7cc245;
}

.wrraper-main {
    margin:0 auto;
    width:100%;
    background-color:#e6e6e8;
}

.wrapper-home > .row-fluid
{
    margin-top:40px;
}

    .wrapper-home > .row-fluid > .news {
        background-color:#fff;
    }

        .wrapper-home > .row-fluid > .news .span6 {
            padding:10px;
        }

.text-logo {
    color: #f707db;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px #7cc245;
    float:left;
    margin-top:25px;
}

.webpart
{
    background-color:#fff;
    margin-bottom:20px;
}

.webpart-title
{
    margin:0;
    padding:10px;
    color:#fff;
    font-size:14px;
    font-weight:bold;
    text-align:center;
    background-color:#f707db;
}

.webpart .content{
    padding:10px
}

.fa-chevron-right {
    font-size:13px;
    color:#f707db;
    margin-right:5px;
}

.webpart.capacity img {
    margin-right:10px;
}

.news-title {
    text-align:left;
    color:#4d4f53;
    font-size:14px;
    font-weight:bold;
}

.webpart li{
    padding: 5px 0;
}

.webpart .bx-wrapper li{
    padding:0;
}

.webpart li a {
    font-size: 13px;
    color:#888888;
}

.webpart li a:hover {
    color:#f707db;
    text-decoration:underline;
}

.local-news-image
{
    float:right;
    margin: 5px 0 5px 5px;
}

.news-item {
    margin-bottom:15px;
}

.news-item .content{
    margin-top:5px;
}

.news_date_icon {
    background: url("../images/vanlang/sprites/timestamp.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 14px;
    vertical-align: middle;
    width: 14px;
    margin-right:5px;
}

.news-item .news-description
{
    margin-top:5px;
}

.news-item .news-description p
{
    font-size:13px;
}

ul.capacities li{
    background-color:#fff;
    padding:10px;
    margin-bottom:10px;
}

ul.capacities li .headline{
    font-size:16px;
}

ul.capacities img{
    margin: 0 10px 5px 0;
}

.about-content img{
    margin:0 10px 5px 0;
}

.wrapper-home .bx-wrapper
{
    margin-top:10px;
}

#vanlang-about .section-title{
    margin-top:20px;
}

.about-content h4{
    font-size:18px;
}

.about-content p{
    font-size:16px;
    margin-top:10px;
}

.lst-recruiment a{
    font-size:16px;
}

#contact-formular p {
    font-size:16px;
}

.top-slides .description{
    line-height:28px;
}

.about-content li{
    font-size:16px;
    line-height:30px;
}

.home-menu{
    min-width:50px;
}

.home-menu img{
    height:40px;
}

@media only screen and (min-width: 1200px) {
	.wrraper-main
	{
		width:1200px;
	}
	.nav-collapse
	{
		width:1160px;	
	}
	
	.img-technology
	{
		margin-left:100px;
	}
    
    #contact-formular
    {
        padding: 0 60px;
    }

    /*.webpart.building .content{
        min-height:400px;
    }*/

    .wrapper-home >.row-fluid > .span6{
        width:564px;
    }

    .wrapper-home >.row-fluid > .span3{
        margin-left:16px;
        width:282px;
    }

    .precio-logo{
        margin-left:40px;
    }

}

@media only screen and (max-width: 1199px) {
	.nav-collapse
	{
		width:100%;
	}

    .slide-description .headline {
        font-size:20px;
        margin:0 0 20px 0;
        line-height:25px;
    }
}

@media only screen and (min-width: 1025px) {
	.navbar .nav {
		height:40px;
	}
	
	.navbar .nav > li > a {
		line-height:40px;
	}
}

@media only screen and (max-width: 1024px) {
    .what-we-do-ul li{
        height:70px;
    }

    .home-menu img{
        height:30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .what-we-do-ul li{
        height:70px;
    }
}
	
@media only screen and (max-width: 767px) {
    section
    {
        padding: 20px 5px;
    }

    .languages
    {
        margin-top:5px;
    }

    .navbar .show-menu
    {
        margin: 0 10px 0 0;
        padding:0;
    }

    .navbar .show-menu, .precio-logo
    {
        margin-top:0;
    }

    #navigation-sticky-wrapper{
        height:90px !important;
    }
    .navbar-inner{
        margin-bottom:0;
    }

	.text-logo, .vl-headline{
        display:none;
	}
    .nav-collapse
    {
        padding:0;
    }
	.text-slide-vertical {
		font-size:60px;
	}
	
	.text-slide-vertical li {
		line-height:80px;
	}
	
	.slide-content h1 {
		font-size:60px;
		line-height:60px;
	}
	
	ul.fullwidth-slider li.slide {
		background-position: center 0px!important;
	}
	
	ul.fullwidth-slider li.slide .caption .caption-inside {
		position: relative;
		width:100%;
		height:100%;  
	}
	
	#slider_left {
		top:90%;
		height:60px;
		position:absolute;
		left:50px;
		width:32px;
		z-index:1000;
		margin-top:-30px;
		cursor:pointer;
	}
	
	#slider_right {
		top:90%;
		height:60px;
		position:absolute;
		right:50px;
		width:32px;
		z-index:1000;
		margin-top:-30px;
		cursor:pointer;
	}
	
	#slider_left:hover, #slider_right:hover {
		margin-top:-28px;
	}
	
	#slider_left:active, #slider_right:active {
		margin-top:-28px;
	}
	
	.ultralarge {
		font-size:80px;
		line-height:70px;
	}	
	
	.element_from_left {
		left: 0px;
		opacity: 1;
	}
	
	.element_from_right {
		right: 0px;
		opacity: 1;
	}
	
	.element_fade_in {
		opacity: 1;
		right: 0px;		
	}
	
	.parallax {
		background-position: center top !important;
		background-attachment: scroll !important;
		height: auto;
		margin: 0 auto;		
	}
	
	.one_half {
    	width: 100%;
	}	

	.one_third {
		width: 100%;
	}	

	.one_fourth {
		width: 100%;
	}	

	.one_fifth {
		width: 100%;
	}	

	.one_sixth {
		width: 100%;
	}	

	.two_fifth {
		width: 100%;
	}	

	.two_fourth {
		width: 100%;
	}		

	.two_third {
		width: 100%;
	}	

	.three_fifth {
		width: 100%;
	}	

	.three_fourth {
		width: 100%;
	}	

	.four_fifth {
		width: 100%;
	}	

	.five_sixth {
		width: 100%;
	}	

	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .two_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
		margin-bottom: 20px;
		margin-right: 0%;
	}	
	
	.section-title {
		width:100%;
	}
	
	.small-screen-left, .small-screen-right {
		top: 40px;
		width: 200px;
	}
	
	.big-screen {
		width: 320px;
	}
	
	.service-item .right {
		float: left;
	}
	
	.service-item.text-right {
		text-align: left;
	}
	
	.service-item.text-right .fa-stack {
		margin-left: 0px;
		margin-right: 20px;
	}
	
	ul.technology li {
		padding: 30px 20px;
		width: 240px;
	}
	
	#portfolio-wrap .one-four {
		width: 50%;
	}
	
	#blog .container {
		width: 600px!important;
	}
	
	.blog-posts-content {
		min-height: 100px;
		width: 600px;
		margin-right:40px;
	}
	
	.post-content {
		float: left;
		width: 520px;
	}
	
	#sidebar {
		width: 600px;
		border-top:#E9E9E9 solid 1px;
		margin-top:60px;
		padding-top:60px;
	}
	
	input#search {
		width: 540px;
	}
	
	#blog.masonry .container {
		width: 630px !important;
	}
	
	.blog-post.masonry {
		background-color: #F7F7F7;
		border: 1px solid #EBEBEB;
		border-radius: 3px 3px 3px 3px;
		margin: 15px;
		padding: 20px;
		width: 243px;
	}
	
	.blog-post.masonry-quote {
		margin: 15px;
		width: 285px;
	}
	
	#project-header {
		height: 400px;
	}
	
	#project-counters .counters {
		margin: 0 auto;
		width: 100%;
	}
	
	.recent-post .blog-meta {
		display:none;
	}
	
	.price-table {
		width:49%;
	}
	
	.newsletter-left {
		width:100%;
		float:none;
		height:50px
	}
	
	#newsletter input[type="text"] {
		text-align:center;
	}
	
	.newsletter-right {
		width:100%;
		float:none;
		text-align:center;
		height:40px;
		padding-top:10px;
	}
	
	
	

/*precio 767 */
	.partner-left span, .partner-left p,
	.partner-right span, .partner-right p
	{
		text-align:center;
		float:none;
		margin:auto;
	}
	
	#partners span.sprites{
		margin: auto auto 10px auto;
	}
	
	.text-slide-vertical {
		font-size:30px;
	}
	
	.text-slide-vertical li {
		line-height:40px;
	}
	
	.slide-content h1 {
		font-size:40px;
		line-height:40px;
	}
	
	.ultralarge {
		font-size:60px;
		line-height:50px;
	}
	
	.big-screen {
		width: 100%;
	}
	
	.small-screen-left, .small-screen-right {
		width: 100%;
		top:0;
		position:relative;
	}
	
	.twitter-feed .bx-wrapper .bx-prev {
		margin-top: 120px;
	}
	.twitter-feed .bx-wrapper .bx-next {
		margin-top: 120px;
	}
	
	.service-item .fa-stack {
		margin-bottom:30px;
	}
	
	ul.technology li {
		padding: 30px 20px;
		width:inherit;
		margin:0;
		margin-bottom:20px;
	}
	
	#filters ul li {
		display: block;
		margin: 5px 60px;
	}	
	
	.company-phone a {
		font-size: 50px;
	}
	
	#blog .container {
		width: 400px!important;
	}
	
	.blog-posts-content {
		min-height: 100px;
		width: 400px;
		margin-right:40px;
	}
	
	.post-content {
		float: left;
		width: 320px;
	}
	
	#sidebar {
		width: 400px;
		border-top:#E9E9E9 solid 1px;
		margin-top:60px;
		padding-top:60px;
	}
	
	input#search {
		width: 340px;
	}
	
	#blog.masonry .container {
		width: 430px !important;
	}
	
	.blog-post.masonry {
		margin: 20px;
		width: 348px;
	}
	
	.blog-post.masonry-quote {
		margin: 20px;
		width: 390px;
	}
	
	.user_comment_reply {
		margin-left: -100px;
	}	
	
	#project-header {
		height: 300px;
	}
	
	.table-header p{
		display:none;
	}
	
	#project-counters .counters {
		margin: 0 auto;
		width: 100%;
	}
	
	.recent-post .recent-post-date {
		display:none;
	}
	
	.four-zero-four {
		font-size:100px;
		line-height:100px;
	}
	
	.precio-logo img
	{
		width:150px;
	}
	
	

}



@media only screen and (max-width: 479px) {

	.text-slide-vertical {
		font-size:30px;
	}
	
	.text-slide-vertical li {
		line-height:40px;
	}
	
	.slide-content h1 {
		font-size:30px;
		line-height:30px;
	}
	
	.ultralarge {
		font-size:40px;
		line-height:30px;
	}
	
	ul.fullwidth-slider, ul.fullwidth-slider .caption-inside {
		height: 300px;
	}
	
	.our-team li {
		margin: 0 auto;
	}
	
	.twitter-feed .bx-wrapper .bx-prev {
		margin-top: 150px;
	}
	.twitter-feed .bx-wrapper .bx-next {
		margin-top: 150px;
	}
	
	.service-item .icon-stack {
		margin-bottom:60px;
	}
	
	#portfolio-wrap .one-four {
		width: 100%;
	}
	
	.company-phone a {
		font-size: 30px;
	}
	
	#map_canvas {
    	height: 250px;
	}
	
	.type-date {
		display:none;
	}
	
	#blog .container {
		width: 280px!important;
		padding:0px;
	}
	
	.blog-posts-content {
		min-height: 100px;
		width: 280px;
		margin-right:40px;
	}
	
	.post-content {
		float: left;
		padding: 20px;
		width: 240px;
	}
	
	#sidebar {
		width: 240px;
		padding: 20px;
		border-top:#E9E9E9 solid 1px;
		margin-top:60px;
		padding-top:60px;
	}
	
	input#search {
		width: 180px;
	}
	
	#blog.masonry .container {
		width: 280px !important;
		padding:0;
	}
	
	.blog-post.masonry {
		margin: 10px;
		width: 218px;
	}
	
	.blog-post.masonry .post-content {
		padding: 0;
	}
	
	.blog-post.masonry-quote {
		margin:10px;
		width: 260px;
	}
	
	.blog-post.masonry-quote .post-content {
		padding:0;
	}
	
	#project-header {
		height: 250px;
	}
	
	#project-counters .counters {
		margin: 0 auto;
		width: 100%;
	}
	
	#project-slider .bx-wrapper .bx-prev {
		display:none;
	}
	
	#project-slider .bx-wrapper .bx-next {
		display:none;
	}
	
	.project-page .bx-wrapper .bx-prev {
		display:none;
	}
	
	.project-page .bx-wrapper .bx-next {
		display:none;
	}
	
	#show {
		display:none!important;
	}
	
	.recent-post h5 {
		font-size:11px;
	}
	
	.price-table {
		width:98%;
	}
	
	#newsletter input[type="text"] {
		font-size:24px;
	}
	
	.partner-left p, .partner-right p
	{
		text-align:center;
	}

    .navbar-fixed-top {
        margin-bottom: 0;
    }
	
}







